<% provide(:title, @employee.short_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <img src="http://placehold.it/120x160" alt="" class="avatar">
        <%= @employee.full_name %>
      </h1>
    </section>
  </aside>
</div>