<table id="<%= dom_id(approver) %>" class="table table-striped table-detail">
  <tr>
    <th>Approving</th>
    <th>Actions</th>
  </tr>
  <% #TODO: refactor this %>
  <% approver.approving.each do |approved| %>
      <%= render "approved", approved: approved, relation: approver.relations.where(approved_id: approved).first %>
  <% end %>
</table>
<%= link_to "Add", new_relation_path(:approver_id => approver), :remote => true, class: "btn btn-primary" %>
