<div class="approver">
  <%= link_to approver.short_name, "#approved_by_#{approver.id}", id: "approver_#{approver.id}",
              "data-toggle" => "collapse", "data-parent" => "#approvers" %>
</div>
<div id="approved_by_<%= approver.id %>" class="collapse">
<%= render 'approved_table', approver: approver %>
</div>
