<%= provide(:title, t(:relations)) %>
<h1 class="center"><%= t(:relations) %></h1>
<div class="row">
  <ul class="approvers" id="approvers">
    <% @approvers.each do |approver| %>
        <li><%= render "approver", approver: approver %></li>
    <% end %>
  </ul>
</div>
<div id = "new_relation_dialog" style ="display:none">
  <div id = "relation_container"></div>
</div>
