<% provide(:title, @user.short_name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <img src="" alt="" class="avatar">
        <%= @user.full_name %>
        <% deb, cred = @work_items.accepted.partition { |wi| wi.type_id == 1 } %>
      </h1>
      <span class="balance">Balance: <%= deb.count - cred.count %></span>
    </section>
  </aside>
  <div class="span9">
    <ul class="work-items">
      <%= render @work_items %>
    </ul>
    <%= link_to t(:add), '#', class: "btn btn-primary" %>
  </div>
</div>