<% provide(:title, @user.short_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <img src="" alt="" class="avatar">
        <%= @user.full_name %>
        <% deb, cred = @work_items.partition { |wi| wi.type_id? } %>
      </h1>
      <strong>Balance: <%= deb.count - cred.count %></strong>
    </section>
  </aside>
  <div class="span8 offset1">
    <ul class="work-items">
      <%= render @work_items %>
    </ul>
  </div>
</div>