<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Worktime Tracker App</h1>

  <h2>
    This is the home page for the our application. Please sign in to work with it.
  </h2>

  <%= link_to "Sign in.", signin_path, class: "btn btn-large btn-primary" %>
</div>
