<% provide(:title, 'Home') %>
<div class="hero-unit clearfix">
  <div class="pull-left span6">
    <h1><span>Welcome</span> to the Worktime Tracker App</h1>

    <h2>
      This is the home page for the our application. Please sign in to work with it.
    </h2>
  </div>
  <div class="pull-right">
    <%= form_for(:session, url: sessions_path, html: { class: "well" }) do |f| %>
        <%= render 'sessions/login_fields', f: f %>
    <% end %>
  </div>
</div>
